<div class="container-fluid">
  <div class="jumbotron">
    <h1 id="title">WELCOME IN OUR QUOTES OF THE DAYS</h1>
    <p>
      <em
        >This page will help you to view, like or unlike quotes of different
        authors and you can poste any quote as much as you want.These best
        friend quotes are perfect to share with that true friend! You might also
        like these inspiring friendship quotes. These quotes can be a great way
        to let your friend who has been there through thick and thin, ups and
        downs, tears and fears and joy and laughter know how very special they
        are. If you need a little something-something special to give you might
        like this friendship gift.
        <a href="https://www.skiptomylou.org/best-friend-quotes/"
          ><strong>Read more quote here</strong></a
        >
      </em>
    </p>
  </div>

  <div *ngFor="let quote of quotes; let i = index" class="items" class="well">
    <ul>
      <li id="listed">
        "{{ quote.name }}" Author:"{{ quote.author }}" written by "{{
          quote.fan
        }}" Posted {{ quote.notedDate | dateCount }} day(s) ago.
      </li>
      <button (click)="toggleDetails(i)" class="btn btn-info btn-xs">
        <i class="fa fa-sort">delete</i></button
      >&nbsp;
      <button (click)="upvote(i)" class="btn btn-primary btn-xs">
        <i class="up"></i>{{ quote.upvotes
        }}<img
          src="https://i.redd.it/22uasph7vxvy.png"
          height="40"
          width="50"
        /></button
      >&nbsp;&nbsp;
      <button (click)="downvote(i)" class="btn btn-danger btn-xs">
        <i class="down"></i>{{ quote.downvotes }}
        <img
          src="https://i.kinja-img.com/gawker-media/image/upload/s--2_7dZuG2--/c_scale,f_auto,fl_progressive,q_80,w_800/oqg5yqock5hkhvoaswsz.jpg"
          height="40"
          width="50"
        />
      </button>
      <app-quote-details
        *ngIf="quote.showAuthor"
        [quote]="quote"
        (isComplete)="deleteQuote($event, i)"
      ></app-quote-details>
    </ul>
  </div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
