/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url("https://c1.staticflickr.com/6/5748/30564172665_345907b287_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: aliceblue;
}
