<div class="container">
  <p>
    <em><strong>here you can add a new quote with your Name</strong></em>
  </p>
  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
    <div class="form-group">
      <label for="name" required>
        <strong>Please Enter your Quote here: </strong></label
      >
      <textarea
        class="form-control"
        id="name"
        rows="4"
        [(ngModel)]="newQuote.name"
        name="name"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="author" required>
        <strong>This is what Author said :</strong></label
      >
      <input
        type="text"
        class="form-control"
        id="author"
        [(ngModel)]="newQuote.author"
        name="name"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p><em>Name is Required</em></p>
      </div>
    </div>
    <div class="form-group">
      <label for="fan" required><strong>Written by:</strong></label>
      <input
        type="text"
        class="form-control"
        id="fan"
        [(ngModel)]="newQuote.fan"
        name="name"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p><em>Name is Required</em></p>
      </div>
    </div>
    <div class="form-group">
      <label for="complete"><strong> Completion Date</strong></label>
      <input
        type="date"
        id="complete"
        [(ngModel)]="newQuotend.completeDate"
        name="completeDate"
        #completeDate="ngModel"
        required
      />
      <div
        [hidden]="completeDate.valid || completeDate.pristine"
        class="alert alert-danger"
      >
        <p><em>Completion Date is Required</em></p>
      </div>
    </div>
    <button type="submit" id="go">Add quote</button>
    <button type="submit" id="back">add multiple quote</button>
  </form>
</div>
